.medium-card {
    width: 16rem;
}

.wide-card {
    width: 34rem;
}

.large-card {
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}